<div id="modal-content-wrapper">
  <div class="top-container">
    <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Go back</button>
  </div>
  <div class="header">
    <h1>Room {{roomNumber}} </h1>
  </div>
  <!--</footer>-->
  <!--<button (click)="closeModal()" value="X"></button>-->

  <div class="middle-container">
    <div class="middle-working-room">
      <app-working-room *ngIf="!isAntresol"></app-working-room>
      <app-working-room-antresol *ngIf="isAntresol"></app-working-room-antresol>
    </div>
    <div class="employeesOrEvents">
      <!--<p *ngFor="let emp of employees">{{emp}}</p>-->
      <div *ngIf="isEmployeesSelected" class="employees">
        <button mat-raised-button *ngFor="let emp of employees">{{emp.name}}</button>
      </div>

      <div *ngIf="!isEmployeesSelected" class="events">
        <button mat-raised-button *ngFor="let ev of events">{{ev}}</button>
      </div>

      <button class="toggleButton" mat-raised-button *ngIf="isEmployeesSelected" (click)="toggleIsEmployeesSelected()">Show events</button>
      <button class="toggleButton" mat-raised-button *ngIf="!isEmployeesSelected" (click)="toggleIsEmployeesSelected()">Show employees</button>
    </div>

  </div>

  <div class="bottom-container">
    <button *ngIf="!isAntresol" mat-raised-button (click)="toggleIsAntresol()">Show Antresol</button>
    <button *ngIf="isAntresol"  mat-raised-button (click)="toggleIsAntresol()">Show room</button>
  </div>
</div>
