.top-menu {
  height: auto;
  margin-bottom: 70px;
}

mat-icon {
  background-size: 500px 500px;
  cursor: pointer;
}

.buttons {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.buttons button {
  margin-left: 10px;
  width: 200px;
}
